<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <h1><center>My Friends</center></h1>

    <%@users.each do |user|%>
        <center><div class="card">
          <div class="card-image">
            <div class="row">
              <p><div class="col s12 center"></p>
                <div class="row">
           <%= link_to image_tag(user.image), user_path(user)%>
           <h5><%=link_to user.username, user_path(user)%></h5>
         </div>
       </div>
     </div>
     </div>
   </div>
    <%end%>
</div>
