<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <h1><center>My Beautiful Friends</center></h1>
  <div class="row"></div>
  <div class="row"></div>
    <%@users.each do |user|%>
    <div class="row">
     <div class="card-panel white z-depth-1">
       <div class="row valign-wrapper">
         <div class="col s12">
           <%= image_tag(user.user_pic)%>
           <h5><%=link_to user.username, user_path(user)%></h5>
         </div>
       </div>
     </div>
     </div>
    <%end%>
</div>
